<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color:rgb(198,46,198);
            font-size: 1.5em;
            background-color: #ccc;
            padding:20px;
            box-sizing: border-box;
            text-align: center;
        }
        a{
            margin:10px 50px;
            list-style: none;
            text-decoration: none;
            font-size: 1.1em;
        }
        .container{
            display: table;
            margin-bottom: 10px;
        }
        .row{
            display: table-row;
        }
        .row label, .row input{
            display: table-cell;
            padding: 2px;
        }
    </style>
</head>
<body>
    <h1>ADMIN SECTION Upload Your Books</h1>
    <a href="/api/users/books">Books</a>
    <a href="/api/uesrs/notes">Notes</a>
    
    <form action="/api/uploadbooks" method='POST'>
        <div class="container">
            <div class="row">
                <label for="name">Name</label><input type="text" id='name' name="name">
            </div>
            <div class="row">
                <label for="author">Author</label><input type="text" id='author' name="author">
            </div>
            <div class="row">
                <label for="department">Department:</label>
                <select id="department" name="department">
                    <option value="cse">CSE</option>
                    <option value="ete">ETE</option>
                    <option value="civil">CIVIL</option>
                    <option value="mech">MECH</option>
                </select>
            </div>
            <div class="row">
                <label for="semester">Semester:</label>
                <select name="semester" id="semester">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </div>
            <div class="row">
                <label for="quantity">Quantity</label><input type="number" id='quantity' name="quantity">
            </div>
        </div>
        <input type="submit">
    </form>
</body>
</html>