<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color:rgb(198,46,198);
            font-size: 1.5em;
            background-color: #ccc;
            padding:20px;
            box-sizing: border-box;
            text-align: center;
        }
        a{
            margin-right: 10px;
            list-style: none;
            text-decoration: none;
            font-size: 1.1em;
        }
        .container{
            display: table;
            margin-bottom: 10px;
        }
        .row{
            display: table-row;
        }
        .row label, .row input{
            display: table-cell;
            padding: 2px;
        }
        .listContainer{
            width:90%;
            margin:20px auto;
            border:1px solid;
            background-color: beige;
            color:#43f
        }
        #tableId tr td{
            padding:5px;
            margin:10px 10px;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Books Page</h1>
    <h2>User can select dept and semester to see specific books</h2>
    <form action="/api/users/books/search" method='GET'>
        <div class="container">
            <div class="row">
                <tr>
                    <label for="department">Department:</label>
                    <select id="department" name="department">
                        <option value="cse">CSE</option>
                        <option value="ete">ETE</option>
                        <option value="civil">CIVIL</option>
                        <option value="mech">MECH</option>
                    </select>
                </tr>
            </div>
            <div class="row">
                <tr>
                    <label for="semester">Semester:</label>
                    <select name="semester" id="semester">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </tr>
            </div>
            <input type="submit" value="submit">
        </div>
    </form>
    <a href="/">Dashboard</a>
    <a href="/api/users/notes">Notes</a>
    
</body>
</html>