<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color:rgb(198,46,198);
            font-size: 1.5em;
            background-color: #ccc;
            padding:20px;
            box-sizing: border-box;
            text-align: center;
        }
        a{
            margin:10px 50px;
            list-style: none;
            text-decoration: none;
            font-size: 1.1em;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Dashboard</h1>
    <a href="/api/users/books">Books</a>
    <a href="/api/uesrs/notes">Notes</a>
    <a href="/myProfile">My profile</a>
</body>
</html>